[user]
  name = Ismail Badawi
  email = ismail@badawi.io
[core]
  excludesfile = ~/.gitignore
[color]
  ui = true
[commit]
  verbose = true
[diff]
  algorithm = patience
[branch]
  autosetuprebase = always
[push]
  default = simple
[status]
  branch = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[alias]
  staged = diff --staged
  unstage = reset HEAD

  l = "!bash -c 'source ~/.githelpers && pretty_git_log $@' --"
